<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>

    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="min-h-screen">
        <nav class="relative flex items-center justify-between px-6 py-3 bg-cyan-600">
            <div class="w-full relative flex justify-between lg:w-auto">
                <div class="text-xl font-bold inline-block py-2 uppercase text-white">
                    ToDo App
                </div>
            </div>
            <div>
                <a class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75" href="/">
                    Logout
                </a>
            </div>
        </nav>
        <div class="px-5 py-8 justify-between text-center">
            <div class="text-center text-2xl text-gray-700 py-10 tracking-wider font-medium">
                Thanks, you paid <strong>$0.99</strong>!
            </div>
        </div>
        <footer class="text-center lg:text-left bg-gray-100 text-gray-600 sticky top-[100vh]">
            <div class="text-center p-6 bg-gray-200">
                <span>© 2022 Copyright: </span>
                <span class="text-gray-600 font-semibold">Todo App</span>
            </div>
        </footer>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>