<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>

    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="min-h-screen">
        <nav class="relative flex items-center justify-between px-6 py-3 bg-cyan-600">
            <div class="w-full relative flex justify-between lg:w-auto">
                <div class="text-xl font-bold inline-block py-2 uppercase text-white">
                    ToDo App
                </div>
            </div>

            <div class="flex flex-row ">
                <div>
                    <form action="/checkout" method="post">
                        <script
                          src="https://checkout.stripe.com/checkout.js"
                          class="stripe-button"
                          data-key="{{ key }}"
                          data-description="Pro version"
                          data-amount="99"
                          data-locale="auto">
                        </script>
                    </form>
                </div>
                <div>
                    <a class="px-3 py-2 flex items-center text-sm uppercase font-bold leading-snug text-white hover:opacity-75" href="/">
                        Logout
                    </a>
                </div>
            </div>
        </nav>
 

        <div class="grid relative w-screen place-items-center mt-5" id="edit">
        <div class="w-full max-w-2xl">
            <form class="bg-white shadow-lg rounded px-8 pt-6 pb-8 mb-4" id="form">
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="title" aria-required>
                Title
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" placeholder="title">
            </div>
            <div class="mb-2">
                <label class="block text-gray-700 font-bold mb-2" for="description">
                    Description
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="description" type="text" placeholder="description">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-bold mb-2" for="date" aria-required>
                    Date
                </label>
                <div class="datepicker relative form-floating mb-3">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="date" type="date" placeholder="Select a date">
                </div>
            </div>
            <div class="flex justify-center">
                <span >
                    <button id="addsave" onclick="addItem()" class="bg-cyan-600 hover:bg-cyan-800 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline" type="button">
                        Add
                    </button>
                </span>

            </div>
            </form>
        </div>
        </div>

        <div class="grid relative place-items-center mb-8 mt-10">
            <div class="w-full max-w-2xl" id="addtask">
            </div>
        </div>
          
        <footer class="text-center lg:text-left bg-gray-100 text-gray-600 sticky top-[100vh]">
            <div class="text-center p-6 bg-gray-200">
                <span>© 2022 Copyright: </span>
                <span class="text-gray-600 font-semibold">Todo App</span>
            </div>
        </footer>
    </div>
    
    <script src="../static/js/script.js"></script>
</body>
</html>